<%= form_with(model: commentary, local: true, html: {multipart: true}) do |form| %>

  <div class="container text-left">

    <div class="field">
      <div class="row">
        <div class="col-md-3">
          <%= form.label :texto %>
        </div>
        <div class="col-md-6">
          <%= form.text_area :texto , class: "form-control"%>
        </div>
      </div>
     </div>

    <div class="field">
      <div class="row">
        <div class="col-md-3">
          <%= form.label :photo %>
        </div>
        <div class="col-md-6">
          <%= form.file_field :photo %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row">
        <div class="col-md-3">
          <%= form.label :file %>
        </div>
        <div class="col-md-6">
          <%= form.file_field :file %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
