<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="application.scss">
</head>
<body>

<div class="container">
  <br>
  <header class="GRIMMER ">
    <h1>GRIMMER</h1>
  </header>
  <br>
  <h4>New User</h4>
  <br>
  <%= form_with(model: @user, action: "create",  local: true , html: {multipart: true}) do |form| %>
  <form>
    <div class="jumbotron container">
      <div class="form-group row">
        <div class="col-md-3">
          <label for="email">Email:</label>
        </div>
        <div class="col-md-6">
          <div class="field ">
            <%= form.text_field :email %>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="user">Name:</label>
        </div>
        <div class="col-md-6 "  >
          <div class="field ">
            <%= form.text_field :name %>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="user">Nickname:</label>
        </div>
        <div class="col-md-6">
          <div class="field ">
            <%= form.text_field :nickname %>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="pwd">  Password:</label>
        </div>
        <div class="col-md-6">
          <div class="field ">
            <%= form.text_field :password %>
          </div>
        </div>
      </div>
    </div>
    <h6>Optional</h6>
    <br>
    <div class="jumbotron container">
      <div class="form-group row">
        <div class="col-md-3">
          <label for="country">Country:</label>
        </div>
        <div class="col-md-6">
          <div class="field ">
            <%= form.text_field :country %>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="city">City:</label>
        </div>
        <div class="col-md-6">
          <%= form.text_field :city %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="bio">Biography:</label>
        </div>
        <div class="col">
          <%= form.text_area :biography %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>

      <div class="form-check col-md-3">
        <label class="form-check-label" for="check1">
          <input type="checkbox" class="form-check-input" id="check1" name="policy">Agree with the use policy and terms of service?
        </label>
      </div>

      <div class="col-md-2">
        <a  rol="button" class="btn btn-primary text-white" >
          <%= form.submit %>
        </a>
      </div>

    </div>

  </form>
  <%end %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <a href="usePolicy" class="text-primary bg-white" data-toggle="tooltip" title="Click here to Show the document">Use Policy and Terms of Service</a>
    </div>
  </div>
</div>
<br>
  <br>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>