<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <%= image_tag("angry-monkey.jpg", width:'80px') %>
</nav>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4>GRIMMER</h4>
  </div>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home_admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blacklist">Blacklist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dumplist">Dumplist</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        View
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="view_post">Posts</a>
        <a class="dropdown-item" href="view_user">Users</a>
      </div>
    </li>
    <% if @current_user.nickname == SuperAdmin.where('id =?' ,@current_user.id).first().nickname %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          SuperAdmin
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="superAdminNew">New Admin</a>
          <a class="dropdown-item" href="modify_admin">Modify Admin</a>
        </div>
      </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link" href="logout">Log Out</a>
    </li>
    <li class="nav-item col-md-12 text-right">

      <%= @current_user.name %>
    </li>
  </ul>
</nav>
<br>

<div class="container mt-3">
  <h2>View Users</h2>
  <p>You can search by nickname, location or email</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Results</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <!-- all the users and when the people search they apear all-->
    <tr>
      <td>
        <% @user_all.each do |user| %>
          <div class="col searchable">
            <div class="container-fluid row ">
              <div class="col">
                <%= link_to user.nickname , :controller => :user_profiles , :action => :Admin_user_profile , :id => user.id  %>
              </div>

              <div class="col text-right">
                <%= image_tag(user.photo, width:'60px') if user.photo.attached? %>
              </div>
            </div>
            <div class="container row" >
              <%= user.email %>
            </div>
            <div class="container row" >
              <%= user.location %>
            </div>
          </div>
          <br>
        <% end %>
      </td>
    </tr>

    </tbody>
  </table>

</div>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("div.searchable").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>