<%= form_with(model: dump_list, local: true) do |form| %>
  <% if dump_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dump_list.errors.count, "error") %> prohibited this dump_list from being saved:</h2>

      <ul>
      <% dump_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
