<p id="notice"><%= notice %></p>

<h1>Dump Lists</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dump_lists.each do |dump_list| %>
      <tr>
        <td><%= dump_list.post %></td>
        <td><%= link_to 'Show', dump_list %></td>
        <td><%= link_to 'Edit', edit_dump_list_path(dump_list) %></td>
        <td><%= link_to 'Destroy', dump_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dump List', new_dump_list_path %>
