<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <%= image_tag("angry-monkey.jpg", width:'80px') %>
</nav>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4>GRIMMER</h4>
  </div>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home_admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blacklist">Blacklist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dumplist">Dumplist</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        View
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="view_post">Posts</a>
        <a class="dropdown-item" href="view_user">Users</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        SuperAdmin
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="superAdminNew">New Admin</a>
        <a class="dropdown-item" href="modify_admin">Modify Admin</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="LogIn">Log Out</a>
    </li>
  </ul>
</nav>
<br>
<br>
<br>
<%= form_with(model: @user, local: true, html: {multipart: true}) do |form| %>
<div class="container">
  <div class="container-fluid row">

    <div class="col-sm-3 "> <%= @user.photo %>
    </div>
    <div class="col-sm-3 ">
      <div class="row h5"><%= form.text_field :name %></div>
      <div class="row"><%= form.text_field :country %> , <%= form.text_field :city %></div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid Style2"><%= form.text_area :biography , class: "form-control"%></div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-fluid row">
    <div class="col-sm-6 ">
      <h5>User Posts</h5>
      <div  class="container Style2 end">
        <p id="notice"><%= notice %></p>
        <div  class="container Style2 end">
          <% @post_user.each do |post| %>
            <div class="container-fluid row " id="StylePost">
              <div class="col">
                <a href="full_post" class="text-primary description "   ><%= post.title %></a>
              </div>

              <div class="col text-right">
                <%= post.created_at.strftime('%B %d, %Y at %H:%M') %>
              </div>
            </div>
            <div class="container row" id="StylePost">
              <%= post.description %>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <h5>User Shared</h5>
      <div  class="container Style2 end">
        <p id="notice"><%= notice %></p>
        <div  class="container Style2 end">
          <% @post_user.each do |post| %>
            <div class="container-fluid row " id="StylePost">
              <div class="col">
                <a href="full_post" class="text-primary description "   ><%= post.title %></a>
              </div>

              <div class="col text-right">
                <%= post.created_at.strftime('%B %d, %Y at %H:%M') %>
              </div>
            </div>
            <div class="container row" id="StylePost">
              <%= post.description %>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
<br>
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-primary">Block User</button>
    </div>
  </div>


</div>
<br>
<br>
</body>
</html>