<%= form_with(model: adminstrator, local: true) do |form| %>
  <% if adminstrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adminstrator.errors.count, "error") %> prohibited this adminstrator from being saved:</h2>

      <ul>
      <% adminstrator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="jumbotron container">
    <div class="field">
      <div class="row">
        <div class="col-md-3">
          <%= form.label :email %>
        </div>
        <div class="col-md-6">
          <%= form.text_field :email %>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <div class=" row">
        <div class="col-md-3">
          <%= form.label :nickname %>
        </div>
        <div class="col-md-6">
          <%= form.text_field :nickname , class: "form-control" %>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <div class=" row">
        <div class="col-md-3">
          <%= form.label :password %>
        </div>
        <div class="col-md-6">
          <%= form.password_field :password , class: "form-control" %>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <div class=" row">
        <div class="col-md-3">
          <%= form.label :name %>
        </div>
        <div class="col-md-6">
          <%= form.text_field :name, class: "form-control"  %>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <div class="row">
        <div class="col-md-3">
          <%= form.label :country %>
        </div>
        <div class="col-md-6">
          <%= form.text_field :country, class: "form-control"  %>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <div class="row">
        <div class="col-md-3">
          <%= form.label :city %>
        </div>
        <div class="col-md-6">
          <%= form.text_field :city, class: "form-control"  %>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <%= form.fields_for :location_admins do |loc| %>
        <div class=" locations_fields">
          <div class="fields">
            <div class="row">
              <div class="col-md-3">
                <%= loc.label :address %>
              </div>
              <div class="col-md-6">
                <%= loc.text_field :address , class: "form-control" %>
              </div>
            </div>

          </div>
        </div>
      <%end %>
    </div>

  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
