<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <%= image_tag("angry-monkey.jpg", width:'80px') %>
</nav>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4>GRIMMER</h4>
  </div>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home_admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blacklist">Blacklist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dumplist">Dumplist</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        View
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="view_post">Posts</a>
        <a class="dropdown-item" href="view_user">Users</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        SuperAdmin
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="superAdminNew">New Admin</a>
        <a class="dropdown-item" href="modify_admin">Modify Admin</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="LogIn">Log Out</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <div class=" row">
    <h2>SuperAdmin Configurations</h2>
  </div>
  <div class=" row">
    <h7>Modify Administrators</h7>
  </div>


  <br>
  <div class="container row">
    <div class="jumbotron col-md-6">

      <p>List Of Administrators</p>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Results</th>
        </tr>
        </thead>
        <tbody id="myTable">
        <!-- all the users and when the people search they apear all-->
        <tr>
          <td>
            <% @admin_all.each do |admin| %>
              <div class="col searchable">
                <div class="container-fluid row ">
                  <div class="col">
                    <%= link_to admin.name , :action => :modify_admin , :id => admin.id  %>
                  </div>

                  <div class="col text-right">
                    <%= admin.country %>
                    <%= admin.city %>
                  </div>
                </div>
                <div class="container row" >
                  <%= admin.nickname %>
                </div>
              </div>
              <br>
            <% end %>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
    <div class="col-md-1 "></div>

    <div class="jumbotron col-md-5">
      <%= form_with(model: @admin, local: true, html: {multipart: true}) do |form| %>
        <%= form.label :name %>
        <br>
        <div class="col">
          <%= form.label :password %>
        </div>
        <div class="col">
          <%= form.text_field :password , class: "form-control" %>
        </div>
        <div class="col">
          <%= form.label :country %>
        </div>
        <div class="col">
          <%= form.text_field :country, class: "form-control"  %>
        </div>
        <div class="col">
          <%= form.label :city %>
        </div>
        <div class="col">
          <%= form.text_field :city, class: "form-control"  %>
        </div>
        <div class="col">
          <label>Last Access:</label>
        </div>
        <br>
        <label>Authorisation</label>
        <div class="col">
          <label for="pwda">SuperAdmin Password:</label>
        </div>
        <div class="col">
          <input type="password" class="form-control" id="pwa" name="passwordAdmin">
        </div>
        <br>
        <div row>
          <div href="deletePost"  class="text-right" >
            <%= link_to 'Delete', @admin , method: :delete, controller: Adminstrator,  data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="actions">
            <%= form.submit %>
          </div>
        </div>
      <%end %>
    </div>
  </div>

</div>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("div.searchable").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>