<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="application.scss">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <%= image_tag("angry-monkey.jpg", width:'80px') %>
</nav>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <div class="GRIMMER">
    <h4> GRIMMER </h4>
  </div>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Profile">Profile</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Posts
      </a>
      <div class="dropdown-menu">

        <a class="dropdown-item" href="new">New Post</a>
        <a class="dropdown-item" href="deletePost">Delete Post</a>

      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Search
      </a>
      <div class="dropdown-menu">

        <a class="dropdown-item" href="search_user">User</a>

        <a class="dropdown-item" href="search_post">Post</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="uConfig">Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="logout">Log Out</a>

    </li>
    <li class="nav-item col-md-12 text-right">

      <%= @current_user.name %>
    </li>
  </ul>
</nav>
<br>
<br>
  <div class="container">
    <div class="col-xl-12 Stylefullpost">

      <div class="row">
        <div class="col"><h3><%= @post_full.title %></h3></div>
        <div class="col">
           <%= link_to @post_full.user.nickname , :controller => :user_profiles , :action => :Profile , :id => @post_full.user.id  %></div>
        <div class="col text-right"><%= @post_full.created_at.strftime('%B %d, %Y at %H:%M')%></div>
      </div>
      <div class="row ">
        <div class="col-sm-8 Style2"><%= @post_full.description %></div>
        <div class="col-sm-2"><%= image_tag(@post_full.file, width:'60px') if @post_full.file.attached? %></div>
        <div class="col-sm-2"><%= image_tag(@post_full.photo, width:'80px') if @post_full.photo.attached? %></div>
      </div>
      <div class="row">
        <div class="col-sm-2"><%= @post_full.country %>, <%= @post_full.city %></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-1 text-right "><p><%= @post_full.downvotes.count %></p></div>
        <div class="col-sm-1 photo"><%= link_to image_tag("Emoji_u1f44e.svg.png", width:'30px'), post_downvotes_path(@post_full), method: :post %></a></div>
        <div class="col-sm-1 text-right"><p><%= @post_full.upvotes.count %></p></div>
        <div class="col-sm-1 photo"><%= link_to image_tag("1f44d.png", width:'30px'), post_upvotes_path(@post_full), method: :post %></div>

        <div class="col-sm-1"> <%= button_to "Follow",post_follows_path(@post_full), method: :post, class:"btn btn-dark" %></div>
        <div class="col-sm-1"> <%= button_to "Report",post_inappropiates_path(@post_full), method: :post, class:"btn btn-dark" %></div>
      </div>
    </div>
    <br>
    <div class="row">

      <% if @location.nil? %>
        <div class="col-xl-4">
        </div>
      <%else %>
        <div class="col-xl-4">
          Location of post in map:
          <div style='width: 800px;'>
            <div id="map" style='width: 300px; height: 400px;'></div>
          </div>
          <script type="text/javascript">
              handler = Gmaps.build('Google');
              handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                  markers = handler.addMarkers([
                      {
                          "lat": <%= @location.latitude %>,
                          "lng": <%= @location.longitude %>,
                          "picture": {
                              "width":  32,
                              "height": 32
                          },
                          "infowindow": "SJSU"
                      }
                  ]);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
              });
          </script>
        </div>
      <%end %>

      <div class="col-xl-8" id="Style1">
        <% @comment.each do |com| %>
         <div class="media border p-3 ">
              <div class="media-body container">
                <h4> <%= link_to com.user.name , :controller => :user_profiles , :action => :Profile , :id => com.user.id  %>
                  <small><i><%= com.created_at.strftime('%B %d, %Y at %H:%M') %></i></small></h4>
                <p><%= com.texto %><br>
                <% if com.user.id == @current_user.id %>
                    <%= link_to 'edit',  edit_commentary_path(com) %>
                <% end%>
              </div>
              <%= image_tag(com.photo, width:'60px') if com.photo.attached? %>
               <%= image_tag(com.file, width:'60px') if com.file.attached? %>
            <br>

         </div>

        <%end %>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-xl-4"></div>
      <div class="col-xl-8 text-right">
        <%= link_to 'Create Commentary', new_commentary_path(post_id: @post_full.id)%>
      </div>
    </div>

  </div>


</div>

</div>

<% if @location.nil? %>
<%else %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
            {
                "lat": <%= @location.latitude %>,
                "lng": <%= @location.longitude %>,
                "picture": {
                    "width":  32,
                    "height": 32
                },
                "infowindow": "SJSU"
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
<%end %>





</body>
</html>